.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.globe {
    width: 100vw;
    height: 100vh;
    overflow: hidden;}

.globe-overlay {
    position: absolute;
    top: 3.5rem;
}

.globe-card {
    background:rgba(255,255,255,0.7) !important;
}
